<tr>
  <td><%= f.input :title, label: false %></td>
  <td><%= f.input :completed, label: false %></td>
  <td><%= f.input :description, label: false %></td>
  <td>
    <%= f.input_field :_destroy, as: :hidden %>
    <%= link_to 'javascript:void(0)', class: 'destroy_record btn red darken-4' do %>
    	<i class="fa fa-remove fa-2x"></i>
   	<% end -%>
      <%= link_to  'javascript:void(0)',class:"green darken-2 btn add-comments",data:{
                    id:"1",
                    "nested-html":nested_content_nested(:comments,f,"1").html_safe
                   } do %>
        <i class='fa fa-plus'></i>
      <% end -%>
  </td>
</tr>

<tr id="aaa">
  <%= f.simple_fields_for :comments do |a| %>
  <%= render 'comment', comment: a %>
  <% end %>
</tr>
