<tr>
  <td><%= f.input :title, label: false %></td>
  <td><%= f.input :completed, label: false %></td>
  <td><%= f.input :description, label: false %></td>
  <td>
    <%= f.input_field :_destroy, as: :hidden %>
    <%= link_to 'javascript:void(0)', class: 'destroy_record btn red darken-4 ' do %>
    	<i class="fa fa-remove fa-2x"></i>
   	<% end -%>
      <%= link_to  'javascript:void(0)',class:"green darken-2 btn add_nested_record",data:{
                    id:@nested_id,
                    "nested-html-abc":nested_comment_content(:comments,f,@nested_id).html_safe
                   } do %>
        <i class='fa fa-plus'></i>
      <% end -%>
  </td>
</tr>

<%= f.fields_for :comments do |comment| %>
<%= render 'comment', comment: comment %>
<% end %>
